<form action="/save-user" method="POST">

    <p>login</p>
    <input type="text" name="login">

    <p>email</p>
    <input type="text" name="email">

    <p>nome_completo</p>
    <input type="text" name="nome_completo">
    
    <p>cpf</p>
    <input type="text" name="cpf">

    <p>cep</p>
    <input type="text" name="cep">

    <p>endereco_l1</p>
    <input type="text" name="endereco_l1">

    <p>endereco_l2</p>
    <input type="text" name="endereco_l2">


    <p>cidade</p>
    <input type="text" name="cidade">


    <p>estado</p>
    <input type="text" name="estado">

    <button type="submit">Cadastrar usuário</button>

</form>