<form action="/add" method="POST">

    <p>nome</p>
    <input type="text" name="nome">

    <p>descricao</p>
    <input type="text" name="descricao">

    <p>preco_custo</p>
    <input type="text" name="preco_custo">
    
    <p>preco_venda</p>
    <input type="text" name="preco_venda">

    <p>qtd_estoque</p>
    <input type="text" name="qtd_estoque">

    <p>barcode</p>
    <input type="text" name="barcode">

    <button type="submit">Cadastrar produto</button>

</form>